<h1>Your booking Requests</h1>
<div class="container ">
  <% @bookings.each do |booking| %>
    <div class="bookings-card mb-3">
      <%= cl_image_tag booking.item.photo.key, class: "item-img" %>
      <div class="bookings-card-details m-2">
        <div class="status-owner">
          <p class="status"><%= booking.status %></p>
          <p class="owner"><%= booking.item.user.username %>'s item</p>
        </div>

        <div class="req-and-owner">
          <div class="req-details">
            <p class="req-title"><%= booking.item.name %></p>
            <p class="req-dates"><%= booking.start_date.to_formatted_s(:short) %> - <%= booking.end_date.to_formatted_s(:short) %></p>
            <p class="req-total"><%= format_price(booking.item.daily_rate) %> x <%= (booking.end_date - booking.start_date).to_i  %> = <%= format_price(booking.item.daily_rate * (booking.end_date - booking.start_date).to_i) %> </p>
          </div>
          <div class="item-owner-details">
            <img class="user-prof-pic" src="https://source.unsplash.com/random?person" alt="/user">
            <p class="user-name"><%= booking.item.user.username %></p>
          </div>
        </div>
        <div class="card-buttons">
          <% if policy(booking).destroy? %>
            <%= link_to "Cancel", booking_path(booking), :method => :delete, :class => 'contact-btn', data: {confirm: "Are you sure?"} %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
