<nav>
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag("logo.png", class: "logo-img") %>
    <% end %>
  </div>

  <div class="search-bar">
    <%= render partial: "shared/search-bar" %>
  </div>

  <div class="menu-btn">
    <div class="menu-btn-burger">
      <ul id="hidden-menu" class="show">
        <li><%= link_to "My Bookings", bookings_path %></li>
        <li><% if policy(Item).new? %>
            <%= link_to "New item", new_item_path %>
            <% end %></li>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      </ul>

    </div>
  </div>
  <div class="user">
  <% if user_signed_in? %>
    <% if current_user.avatar.present? %>
      <%= cl_image_tag(current_user.avatar.key, class: "user-img rounded-circle") %>
    <% else %>
      <img class="user-img rounded-circle" src="https://source.unsplash.com/random/?person" alt="user-img">
    <% end %>
  <% end  %>
  </div>

</nav>

<%= javascript_pack_tag 'hamburger'%>
<%= javascript_pack_tag 'search'%>
