<nav>
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag("logo.png", class: "logo-img") %>
    <% end %>
  </div>
  <div class="search-bar">
    <div id="select">
      <p id="select-text" class="m0">All categories ↓</p>
      <ul id="list">
        <li class="options">All categories</li>
        <li class="options">Accessories</li>
        <li class="options">Instruments</li>
        <li class="options">Music Tech</li>
      </ul>
    </div>
    
    <%= render partial: "shared/search-bar" %>
    
    <form action="/">
      <input type="text" id="input-field" placeholder="Search in All Categories">
    </form>

    
  </div>
  <div class="menu-btn">
    <div class="menu-btn-burger">
      <ul id="hidden-menu" class="show">
        <li><%= link_to "My Bookings", bookings_path %></li>
        <li>Settings</li>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      </ul>

    </div>
  </div>
  <div class="user">
  <% if user_signed_in? %>
    <% if current_user.avatar.present? %>
      <%= cl_image_tag(current_user.avatar.key, class: "user-img rounded-circle") %>
    <% else %>
      <img class="user-img rounded-circle" src="https://source.unsplash.com/random/?person" alt="user-img">
    <% end %>
  <% end  %>
  </div>

</nav>

<%= javascript_pack_tag 'hamburger'%>
<%= javascript_pack_tag 'search'%>
