<p id="notice"><%= notice %></p>
<%= render partial: "shared/category-cards" %>
  <div class="banner">
     <%= image_tag "banner.png", id: "main-banner" %>
  </div>
  <div class="main-container">
    <div class="cards">
      <% if @items.empty? %>
        <p>No results for <%= params[:query] %>.</p>
      <% end %>
      <% @items.each do |item| %>
        <div class="card-pick">
          <%= link_to item_path(item) do %>
          <%= cl_image_tag item.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="card-pick-info">
              <h2><%= item.name %></h2>
              <h5><%= item.user.username %></h5>
              <p><%= item.details %></p>
              <% if policy(item).edit? %>
                <%= link_to 'Edit', edit_item_path(item) %>
              <% end %>
              <% if policy(item).destroy? %>
                <%= link_to 'Destroy', item_path(item), method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
          </div>
          <% end %>
      </div>
      <% end %>
    </div>
  </div>

<br>
