<p id="notice"><%= notice %></p>

<div class="container" id="item-container">
  <div class="row item-overview">
    <div class="col-12">
      <h1 id="item-name">
        <%= @item.name %>
      </h1>
      <%= cl_image_tag @item.photo.key, height: 300, width: 400, crop: :fill %>
    </div>
  </div>

  <div class="row">
    <div class="col-6" id="item-details">
      <h3>Status: Available</h2>
      <p>Description: <%= @item.details %></p>
      <p>Daily rate: ¥<%= @item.daily_rate %></p>
      <p>Pick up:<%= @item.pickup_location %></p>
    </div>

    <div class="col-6" id="date-form-container">
      <div class="date-form">
        <%# BOOKING FORM %>
        <%#= simple_form_for @item.booking do |f| %>
          <%#= f.input :start_date, as: :date %>
          <%#= f.input :end_date, as: :date %>
          <%# f.button :submit 'Request this item' %>
        <%# end %>
        <%= link_to "Reqest this item", new_item_booking_path(@item), class:"btn btn-request" %>
        <%# <div class="btn btn-request">Reqest this item</div> %>
      </div>
    </div>
  </div>

  <div class="row">
    <div>
      <% if policy(@item).edit? %>
        <%= link_to 'Edit', edit_item_path(@item), class:"btn btn-edit" %>
      <% end %>
      <%= link_to 'Back', items_path, class:"btn btn-back" %>
    </div>
  </div>
</div>
